@import url("https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap");

html,
body {
  background-color: #080808;
  font-family: "IBM Plex Mono", monospace;
  color: #ffffff;
}

.gugi {
  font-family: "Gugi", cursive;
}

.serif {
  font-family: "IBM Plex Serif", serif;
}

.navbar {
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.183) 30%,
    rgba(0, 0, 0, 0.288) 90%
  );
  opacity: 1;
  backdrop-filter: blur(18px);
  /* add support for other browsers */
  -webkit-backdrop-filter: blur(18px);
}

.nav-item-shadow {
  text-shadow: 1px 1px 10px #ffffff;
}

.top-margin {
  margin-top: 56px;
}

@media screen and (max-width: 768px) {
  .top-margin {
    margin-top: calc(3svh + 56px);
  }
}

.hero__bg-config {
  background-size: contain, 100% 77% !important;
  background-repeat: repeat, no-repeat !important;
  background-position: center center, 30% 90% !important;
}

@media screen and (max-width: 768px) {
  .hero__bg-config {
    background-size: contain, 100% !important;
    background-repeat: repeat, no-repeat !important;
    background-position: center center, 30% 100% !important;
  }
}

.hero-text {
  background: linear-gradient(315deg, #f9c6ff 10%, #c8f1ff 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: "Rubik Iso", cursive;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .hero-text {
    font-weight: 300;
  }
}

.sub-hero-text {
  background: linear-gradient(90deg, #c1c1c1 10%, #8a8a8a 130%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.grad-text {
  background: linear-gradient(
    310deg,
    #ff00a8 2.67%,
    #9b88ff 45.14%,
    #00f0ff 99.61%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  width: max-content !important;
}

.action-button-bg {
  box-shadow: inset 0px 0px 8px rgba(217, 217, 217, 0.62);
  background: linear-gradient(
    93.87deg,
    #00e0ff 1.39%,
    #7000ff 46.52%,
    #ff6868 98.75%
  );
  border-radius: 318px;
}

.team-mate-bg {
  background: linear-gradient(
    120deg,
    #00e0ff 1.39%,
    #7000ff 46.52%,
    #ff6868 98.75%
  );
  padding-right: 4px;
  padding-bottom: 4px;
  transition: all 0.15s ease-in-out;
}

.sponsor-item-bg {
  background: linear-gradient(
    220deg,
    #00e0ff 1.39%,
    #7000ff 46.52%,
    #ff6868 98.75%
  );
  padding-right: 3px;
  padding-bottom: 4px;
  transition: all 0.15s ease-in-out;
}

.team-mate-bg:hover {
  /* box-shadow: inset 0px 0px 8px rgba(217, 217, 217, 0.62); */
  /* padding-right: 2.5px;
  padding-bottom: 2.5px;
  margin-right: 1.5px;
  margin-bottom: 1.5px;
  transition: all 0.2s ease-in-out; */
}

.team-mate-border {
  border: 2px rgb(143, 143, 143) solid !important;
}

/* .team-mate-border:hover {
  box-shadow: 4px 4px 0px currentColor;
} */

.action-button-bg:hover {
  box-shadow: inset 0px 0px 6px rgba(217, 217, 217, 0.859);
}

.hero-button {
  right: calc(50lvw - 80px);
}

.sponsor-image-bg {
  /* background: #6e6e6e; */
  background-image: linear-gradient(135deg, #f8f8f822 0%, #f8f8f817 99.86%);
}

.contact-info-item-bg {
  background: linear-gradient(
    90.19deg,
    rgba(255, 255, 255, 0.156) 1.06%,
    rgba(255, 255, 255, 0.126) 95.43%
  );
  border-radius: 49px;
}

.footer-bg {
  background: linear-gradient(
    178.59deg,
    #080808 -10%,
    rgba(175, 63, 192, 0.23) 60.64%,
    #080808 156%
  );
}

.nav-animation {
  animation: mymove 1s;
}

@keyframes mymove {
  50% {
    border-radius: 0;
  }
}

.eventselector__bg {
  background: #1a1a1a;
}

.eventselector-event__bg {
  backdrop-filter: blur(8px);
  background: linear-gradient(
    135deg,
    rgba(206, 206, 206, 0.164) -30%,
    rgba(209, 209, 209, 0.099) 120%
  );
}

.eventselector-event__bg:hover {
  background-position: 140px 100px;
  transition: 0.5s all ease-in-out;
}

.element-hidden {
  display: none !important;
}

.nav-shadow {
  box-shadow: 0 12px 30px #ababab;
}

.text-secondary {
  color: #b9b9b9;
}

.hr-lines {
  position: relative;
  /* max-width: 500px; */
  margin: 0 auto;
  text-align: center;
}

.hr-lines:before {
  content: " ";
  height: 2px;
  width: 100%;
  background: #b9b9b9;
  display: block;
  position: absolute;
  top: 50%;
  left: -100%;
}

.hr-lines:after {
  content: " ";
  height: 2px;
  width: 100%;
  background: #b9b9b9;
  display: block;
  position: absolute;
  top: 50%;
  right: -100%;
}

.esticky:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.desktop-nav {
  display: flex;
}

.l-nav-item:hover {
  background-color: #b9b9b9;
  color: #320c50;
}

a.active.l-nav-item {
  background-color: #b9b9b9;
  color: #320c50;
}

a.active.l-nav-item.ntext {
  font-weight: bold;
}

.gradient-heading {
  background: -webkit-linear-gradient(
    90deg,
    hsla(152, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-window {
  scroll-behavior: smooth;
}

.hamburger-react {
  align-self: center;
}

@media screen and (min-width: 768px) {
  .element-hidden {
    display: block !important;
  }

  .nav-shadow {
    box-shadow: none;
  }
}

@media screen and (max-width: 768px) {
  .height-mobile {
    height: calc(100svh - 68px);
  }

  /* .hr-lines:after,
  .hr-lines:before {
    display: none;
  } */

  .desktop-nav {
    display: none;
  }
}
