node_modules

/.cache
/public/build
/build
.env

# Local Netlify folder
.netlify

# generated css
/app/styles/app.generated.css

# images
/app/images/dotted-map.svg
/app/images/lvr.svg

# computer files
.DS_Store