@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #1e1e1e;
  font-family: "JetBrains Mono", monospace;
  color: #ffffff;
}

.gugi {
  font-family: "Gugi", cursive;
}

.element-hidden {
  display: none !important;
}

.nav-shadow {
  box-shadow: 0 12px 30px #ababab;
}

.text-secondary {
  color: #b9b9b9;
}

.hr-lines {
  position: relative;
  /* max-width: 500px; */
  margin: 0 auto;
  text-align: center;
}

.hr-lines:before {
  content: " ";
  height: 2px;
  width: 13.65vw;
  background: #b9b9b9;
  display: block;
  position: absolute;
  top: 50%;
  left: -13.65vw;
}

.hr-lines:after {
  content: " ";
  height: 2px;
  width: 13.65vw;
  background: #b9b9b9;
  display: block;
  position: absolute;
  top: 50%;
  right: -13.65vw;
}

.esticky:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.nav {
  display: flex;
}

.l-nav-item:hover {
  background-color: #b9b9b9;
  color: #320c50;
}

a.active.l-nav-item {
  background-color: #b9b9b9;
  color: #320c50;
}

a.active.l-nav-item.ntext {
  font-weight: bold;
}

.gradient-heading {
  background: -webkit-linear-gradient(
    90deg,
    hsla(152, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-window {
  scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
  .element-hidden {
    display: block !important;
  }

  .nav-shadow {
    box-shadow: none;
  }
}

@media screen and (max-width: 768px) {
  .height-mobile {
    height: calc(100svh - 40px);
  }

  .hr-lines:after,
  .hr-lines:before {
    display: none;
  }

  .nav {
    display: none;
  }
}
