@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #080808;
  font-family: "IBM Plex Mono", monospace;
  color: #ffffff;
}

.gugi {
  font-family: "Gugi", cursive;
}

.serif {
  font-family: "IBM Plex Serif", serif;
}

.navbar {
  background: linear-gradient(
    135deg,
    rgba(206, 206, 206, 0.126) 10%,
    rgba(209, 209, 209, 0.102) 90%
  );
  opacity: 1;
  backdrop-filter: blur(4px);
}

.nav-item-shadow {
  text-shadow: 1px 1px 10px #ffffff;
}

.hero-text {
  background: linear-gradient(315deg, #f9c6ff 10%, #c8f1ff 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .hero-text {
    font-weight: 300;
  }
}

.sub-hero-text {
  background: linear-gradient(90deg, #d9d9d9 0%, #989898 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* .sub-hero-text::before {
  background: linear-gradient(270deg, #d9d9d9 0%, #989898 100%);
  content: " ";
  height: 2px;
  width: 26lvw;
  display: block;
  position: absolute;
  top: 52.2%;
  left: 0px;
}

.sub-hero-text::after {
  background: linear-gradient(270deg, #d9d9d9 0%, #989898 100%);
  content: " ";
  height: 2px;
  width: 26lvw;
  display: block;
  position: absolute;
  top: 52.2%;
  right: 0px;
} */

.grad-text {
  background: linear-gradient(
    277.68deg,
    #ff00a8 6.67%,
    #9b88ff 51.14%,
    #00f0ff 95.61%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  width: max-content !important;
}

.action-button-bg {
  box-shadow: inset 0px 0px 8px rgba(217, 217, 217, 0.62);
  background: linear-gradient(
    93.87deg,
    #00e0ff 1.39%,
    #7000ff 46.52%,
    #ff6868 98.75%
  );
  border-radius: 318px;
}

.action-button-bg:hover {
  box-shadow: inset 0px 0px 6px rgba(217, 217, 217, 0.859);
}

.hero-button {
  right: calc(50lvw - 80px);
}

.sponsor-image-bg {
  /* background: #6e6e6e; */
  background-image: linear-gradient(135deg, #f8f8f822 0%, #f8f8f817 99.86%);
}

.contact-info-item-bg {
  background: linear-gradient(
    90.19deg,
    rgba(255, 255, 255, 0.156) 1.06%,
    rgba(255, 255, 255, 0.126) 95.43%
  );
  border-radius: 49px;
}

.footer-bg {
  background: linear-gradient(
    178.59deg,
    #080808 1.2%,
    rgba(175, 63, 192, 0.23) 60.64%,
    #080808 136%
  );
}

.element-hidden {
  display: none !important;
}

.nav-shadow {
  box-shadow: 0 12px 30px #ababab;
}

.text-secondary {
  color: #b9b9b9;
}

.hr-lines {
  position: relative;
  /* max-width: 500px; */
  margin: 0 auto;
  text-align: center;
}

.hr-lines:before {
  content: " ";
  height: 2px;
  width: 100%;
  background: #b9b9b9;
  display: block;
  position: absolute;
  top: 50%;
  left: -100%;
}

.hr-lines:after {
  content: " ";
  height: 2px;
  width: 100%;
  background: #b9b9b9;
  display: block;
  position: absolute;
  top: 50%;
  right: -100%;
}

.esticky:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.desktop-nav {
  display: flex;
}

.l-nav-item:hover {
  background-color: #b9b9b9;
  color: #320c50;
}

a.active.l-nav-item {
  background-color: #b9b9b9;
  color: #320c50;
}

a.active.l-nav-item.ntext {
  font-weight: bold;
}

.gradient-heading {
  background: -webkit-linear-gradient(
    90deg,
    hsla(152, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-window {
  scroll-behavior: smooth;
}

.hamburger-react {
  align-self: center;
}

@media screen and (min-width: 768px) {
  .element-hidden {
    display: block !important;
  }

  .nav-shadow {
    box-shadow: none;
  }
}

@media screen and (max-width: 768px) {
  .height-mobile {
    height: calc(100svh - 68px);
  }

  /* .hr-lines:after,
  .hr-lines:before {
    display: none;
  } */

  .desktop-nav {
    display: none;
  }
}
